@import nib
@import jeet
@import 'rupture'
@import 'base'
@import 'variables'
@import 'mixins'
@import 'animations'
@import 'typography'

body {
  font-size 1.4rem
  font-family 'Lato', sans-serif
}

.navigation {
  position relative
  center(960px)
  height 10rem
  text-align center

  a {
    position relative
    display table
    line-height normal
    text-decoration none
    text-transform uppercase
    font-weight bold
    font-size 2.4rem
    color #000
    col(1/3)
    height 100%
    .fa {
      display table-cell
      vertical-align middle
    }
  }
}

.router {
  position relative
  display block
}

.header {
  base()
  cf()

  .info {
    col(10/12)
    shift(2/12)

    +below(MEDIA_MD) {
      col(10/12)
      shift(2/12)
    }

    +below(MEDIA_SM) {
      stack()
      unshift()
    }

    h2 {
      padding 0
      margin 0
    }
  }

  nav {
    col(2/12)
    shift(-10/12)

    +below(MEDIA_MD) {
      col(2/12)
      shift(-10/12)
    }

    +below(MEDIA_SM) {
      stack()
      unshift()
    }

    a {
      position relative
      diplay block
      height 4rem
      text-align center
      text-decoration none
      color #000
      span(1/2)

      +below(MEDIA_SM) {
        span(1/8)
      }

      +below(MEDIA_XS) {
        span(1/4)
      }

      i {
        align both

        +below(MEDIA_SM) {
          align none
        }
      }
    }
  }
}

.tumblr-posts {
  display flex
  flex-flow row wrap
  justify-content flex-start

  &.loading {
    opacity 0.1
  }
}

.tumblr-post {
  width 100% * (1/3)
  animation drop-in 175ms ease-in-out
  animation-fill-mode both
  display block
  position relative
  for n in (0..40) {
    &:nth-child({n}) {
      animation-delay 125ms + (n * 75)
    }
  }

  &.photo {
    img {
      width 100%
      height auto
    }
  }
}
