.route-enter, .route-leave {
  display block
  position absolute
  top 0
  left 0
  transform-style preserve-3d
  transition opacity 375ms ease-in-out, transform 375ms ease-in-out
}

.route-enter {
  opacity 0
  transform translate3d(-50%, 0, 0) skew(15deg)
  &.route-enter-active {
    opacity 1
    transform translate3d(0%, 0, 0) skew(0deg)
  }
}

.route-leave {
  opacity 1
  transform translate3d(0, 0, 0) skew(0deg)
  &.route-leave-active {
    opacity 0
    transform translate3d(100%, 0, 0) skew(15deg)
  }
}

@keyframes drop-in {
  from {
    transform translate3d(0, -10%, 0)
    opacity 0
  }
  to {
    transform translate3d(0, 0, 0)
    opacity 1
  }
}
